* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  }
    /* HEADER / NAV BAR STYLES START */

    header {
      padding: 20px 35px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-image: url('../images/hero-bg.jpeg');
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
    }
    header h1 {
      font-weight: bold;
      margin: 0;
      font-size: 36px;
      color: white;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    header a {
      text-decoration: none;
      color: white;
    }
    header nav {
      margin: 7px 0;
    }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    header nav ul li a:hover {
      background: white;
      color: black;
      border-radius: 5px;
      text-shadow: none;
    }
    /* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  border: solid 3px black;
}
.hero-cta h2 {
  padding: 0 50px 0 0;
  font-style: italic;
  font-size: 35px;
  color: black;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* HERO STYLES END */


/* START WORK SECTION*/

.image-box{
  border-style: solid 2px red;
  margin: 10px;
  padding: 10px;
  flex: 1;
}
.flex-container {
  background: white;
  display: flex;
  border: 1px solid grey;
  margin: 10px;
}
.projectrow-container {
  background: olive;
  display: flex;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.category-flexbox {
  background: gray;
  border-right: solid 3px orangered;
  flex: 1;
  padding: 10px;
}
.category-flexbox h3 {
  padding: 0 0 0 25px;
}
.content-flexbox {
  background: aquamarine;
  flex: 5;
  border: solid 2px black;
  padding: 10px;
  margin: 10px;
}
.work-flex-container {
  background: white;
  flex-direction: column;
  border: solid 2px black;
  padding: 10px;
  flex: 5;
}

.content-flexbox h4 {
  padding: 0 0 0 25px;
}
.project-row {
  display: flex;
  flex-direction: row;
  border: solid 3px orange;
}
.project-flexbox {
  flex: 1;
  border: solid 3px orange;
}
.project-columns {
  display: flex;
  flex-direction: column;
}

/* END WORK SECTION */

    /* FOOTER STYLES START */
  footer {
    background: rgb(188, 227, 227);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h2 {
    color: black;
    font-size: 20px;
    margin: 0;
  }
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  /* END FOOTER STYLES */
