* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 25px;
    color: black;
    padding: 10px;
  }
    /* HEADER / NAV BAR STYLES START */
    header {
      padding: 20px 35px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-image: url('../images/hero-bg.jpeg');
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
    }
    header h1 {
      margin: 0;
      font-size: 36px;
      color: white;
    }
    header a {
      text-decoration: none;
      color: white;
    }
    header nav {
      margin: 7px 0;
    }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      list-style: none;
    }
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
    }
    header nav ul li a:hover {
      background: white;
      color: black;
      border-radius: 5px;
      text-shadow: none;
    }
    /* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
.hero-cta h2 {
  padding: 0 50px 0 0;
  font-style: italic;
  font-size: 35px;
  color: black;
}
/* HERO STYLES END */

/* START CATEGORIES SECTION*/
  /* START MAIN COMPONENTS*/
  .flex-container {
    background: white;
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .category-flexbox {
    background: linear-gradient(to bottom, grey, white);
    border-radius: 5px;
    flex: 1;
    padding: 10px;
  }
  .category-flexbox h3 {
    padding: 0 0 0 25px;
    font-size: 30px;
  }
  .content-flexbox {
  background: white;
  flex: 5;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  
}
  /* WORK SECTION STYLES START*/
.work-flex-container {
  background: white;
  flex-direction: column;
  padding: 10px;
  flex: 5;
  
}
.projectrow-container {
  background: white;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px dotted rgba(128, 128, 128, 0.572);

}
.content-flexbox h4 {
  padding: 0 0 0 25px;
  font-size: 25px;
  font-weight: 150px;
}
.main-project-image-style {
  border: 1px solid grey;
  border-radius: 1%;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.28);
  height: 500px;
  width: auto;
}
.project-image-style {
  border: 1px solid grey;
  border-radius: 1%;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.28);
  height: 300px;
  width: auto;
}
  /* WORK SECTION STYLES END*/

/* CONTACT ME SECTION */
.contact-container {
  background: white;
  display: flex;
  margin: 10px;
  padding: 10px;
}
.contact-box {
  margin: 10px;
  padding: 10px;
  flex: 1;
  text-align: center;
}
.headshot {
  border-radius: 40%;
  border: solid 3px black;
  width: 100px;
  height: auto;
}
/* CONTACT ME SECTION END*/

    /* FOOTER STYLES START */
  footer {
    background-image: url('../images/footer-bg.jpeg');
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h2 {
    color: white;
    font-size: 20px;
    font-weight: 150;
    margin: 0;
  }
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  /* END FOOTER STYLES */
